In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
file = pd.read_csv('Loan_Modelling.csv')
file

,ID,Age,Experience,Income,ZIPCode,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [3]:
file = pd.read_csv('Loan_Modelling.csv', index_col=0)

In [4]:
file.columns

Index(['Age', 'Experience', 'Income', 'ZIPCode', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal_Loan', 'Securities_Account',
       'CD_Account', 'Online', 'CreditCard'],
      dtype='object')

In [5]:
x,y = file.drop(['Age', 'Experience','ZIPCode','Family','Securities_Account','Online', 'CreditCard','Personal_Loan'], axis=1) , file['Personal_Loan']

In [6]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2, random_state=100)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
model = LogisticRegression().fit(xtrain,ytrain)

In [9]:
model.score(xtest,ytest)*100

93.89999999999999

In [10]:
ypred = model.predict(xtest)

In [11]:
from sklearn.metrics import confusion_matrix

In [12]:
pd.to_pickle(model, 'Personal_Loan_Customers.pkl')

In [13]:
m = pd.read_pickle('Personal_Loan_Customers.pkl')

In [14]:
import tkinter as tkn
from tkinter import *

In [15]:
app = tkn.Tk()
app.geometry('1000x600')
app.title('Personal Loan Predictor')
app.configure(bg='cyan')
app.config(cursor= "")
img = PhotoImage(file = "Bank.png")
label = Label(app,image=img).place(x=0,y=0)
mod = pd.read_pickle('Personal_Loan_Customers.pkl')

inc = tkn.Variable(app)
ccavg = tkn.Variable(app)
edu = tkn.Variable(app)
mort = tkn.Variable(app)
cd_acc=tkn.Variable(app)
result=tkn.Variable(app)

tkn.Label(app, text="Personal Loan Prediction",font=('Times New Roman',20),foreground='cyan', bg='black').place(x=300,y=30)
tkn.Label(app, text="Income :     ",font=('Arial',15),foreground='cyan', bg='black').place(x=180,y=100)
tkn.Label(app, text="CC Average :  ",font=('Arial',15),foreground='cyan', bg='black').place(x=180,y=160)
tkn.Label(app, text="Education Qualification:      ",font=('Arial',15),foreground='cyan', bg='black').place(x=180,y=220)
tkn.Label(app, text="Mortgage Value : ",font=('Arial',15),foreground='cyan', bg='black').place(x=180,y=320)
tkn.Label(app, text="Certificate of Deposit:  ",font=('Arial',15),foreground='cyan', bg='black').place(x=180,y=380)
tkn.Label(app, textvariable=result,font=('Arial',20),fg='cyan', bg='black').place(x=480,y=540)
    
tkn.Entry(app,textvariable=inc, width=12, font=('Arial',15),foreground='cyan', bg='black', insertbackground="red").place(x=520,y=100)
tkn.Entry(app,textvariable=ccavg, width=12, font=('Arial',15),foreground='cyan', bg='black', insertbackground="red").place(x=520,y=160)
tkn.Entry(app,textvariable=edu, width=12, font=('Arial',15),foreground='cyan', bg='black', insertbackground="red").place(x=520,y=220)
tkn.Entry(app,textvariable=mort, width=12, font=('Arial',15),foreground='cyan', bg='black', insertbackground="red").place(x=520,y=320)
tkn.Entry(app,textvariable=cd_acc, width=1, font=('Arial',15),foreground='cyan', bg='black', insertbackground="red").place(x=660,y=380)

def ed_u():
    edu.set('1')
def ed_g():
    edu.set('2')
def ed_p():
    edu.set('3')
    
def cd_y():
    cd_acc.set('1')
def cd_n():
    cd_acc.set('0')
    
def prediction():
    global mod
    
    if (edu==1):
        ed_u()
    elif(edu==2):
        ed_g()
    elif(edu==3):
        ed_p()
        
    if (cd_acc==1):
        cd_y()
    elif(cd_acc==0):
        cd_n()
        
    income = eval(inc.get())
    cc_avg = eval(ccavg.get())
    education = eval(edu.get())         
    mortgage = eval(mort.get())
    cd_account = eval(cd_acc.get())
    query= [[income,cc_avg,education,mortgage,cd_account]]
    p= round(m.predict(query)[0],1)
    if(p==1):
         result.set("YES")
    else:
        result.set("NO")

tkn.Button(app, text='The Customer Will Buy A Loan', font=('Arial',15), bg='black',foreground='cyan', pady=10,command=prediction).place(x=320,y=440)

tkn.Button(app, text='Under Graduate', font=('Arial',10), bg='black',foreground='cyan', pady=5,command=ed_u).place(x=280,y=260)
tkn.Button(app, text='Graduate', font=('Arial',10), bg='black',foreground='cyan', pady=5,command=ed_g).place(x=440,y=260)
tkn.Button(app, text='Advance/Professional', font=('Arial',10), bg='black',foreground='cyan', pady=5,command=ed_p).place(x=560,y=260)

tkn.Button(app, text='   Yes   ', font=('Arial',10), bg='black',foreground='cyan', pady=5,command=cd_y).place(x=560,y=380)
tkn.Button(app, text='   No   ', font=('Arial',10), bg='black',foreground='cyan', pady=5,command=cd_n).place(x=660,y=380)

app.mainloop()